<div id="body-container" class="row-fluid">
	<div id="site-container" class="span12">
		<div class="row-fluid">
			<div class="span12" style="margin-top:120px;">
				<h3 class="c-centered" style="color:#555555;margin:10px 0px 0px 0px;">Our Customers</h3>
				<hr style="border:1px dashed #438cdb;opacity:0.2;margin:5px auto 10px auto;max-width:600px;">
			</div>
		</div> <!-- #hero -->
			
		<div class="row-fluid">
			<div id="customers-container" class="span12">
				<div class="row-fluid">
					<div class="customer-block offset2 span4 c-box-shadow">
						<div class="row-fluid">
							<div class="span4">
							<%= image_tag("customer_a2.jpg", :class => 'img-polaroid customer-img', :style => 'margin-top:30px;max-width:100px;height:auto;transform:rotate(-7deg);-ms-transform:rotate(-7deg);-webkit-transform:rotate(-7deg)') %>
							</div> <!-- span4 -->
							<div class="offset1 span7 c-black" style="padding-top:10%;">
								<h3 class="c-dark-blue">Bill Catalino - Berry Farm</h3>
								<h5 class="c-black">Oxnard &#38; Camarillo, CA</h5>
								<p class="c-black c-normal">“California internet came in and provided a solution that supplied more 8x more speed than anyone else could supply and they did it at a lower price.  We went with their digital phone and fax service and their internet service and customer service has been beyond exceptional.  They delivered where no other provider could!”</p>
							</div>	
						</div> <!-- row-fluid -->
					</div> <!-- customer-block -->
					<div class="customer-block span4 c-box-shadow">
						<div class="row-fluid">
							<div class="span4">
							<%= image_tag("customer_b1.jpg", :class => 'img-polaroid customer-img', :style => 'margin-top:35px;max-width:120px;transform:rotate(-5deg);-ms-transform:rotate(-5deg);-webkit-transform:rotate(-5deg);') %>
							</div> <!-- span4 -->
							<div class="offset1 span7 c-black" style="padding-top:10%;">
								<h3 class="c-dark-blue">Jeremy Grewal – Almar Marinas</h3>
								<h5 class="c-black">San Diego - San Francisco, Ca.</h5>
								<p class="c-black c-normal">"California Internet brought in a high speed solution that fit our exact boaters needs.  We had been through two previous providers that tried to engineer a solution and literally wasted almost 2 years time between them both, after they both failed.  Where they both failed CA Internet prevailed and did so on a extremely conscious budget.  We have been with Ca Internet for about 3 years and love them."</p>
							</div>	
						</div> <!-- row-fluid -->
					</div>
				</div> <!-- row-fluid -->
				<div class="row-fluid">
					<div class="customer-block offset2 span4 c-box-shadow">
						<div class="row-fluid">
							<div class="span4">
							<%= image_tag("customer_c1.jpg", :class => 'img-polaroid customer-img', :style => 'margin-top:30px;max-width:130px;height:auto;transform:rotate(-5deg);-ms-transform:rotate(-5deg);-webkit-transform:rotate(-5deg)') %>
							</div> <!-- span4 -->
							<div class="offset1 span7 c-black" style="padding-top:10%;">
								<h3 class="c-dark-blue">Ryan Sandefur – Arco / AM PM</h3>
								<h5 class="c-black">Northern, Southern California</h5>
								<p class="c-black c-normal">"We rely on California Internet to run all our gas stations systems and cameras.pleasure to work with and provided us the most bang for the buck period.  The choice was simple and we have not been anything but impressed since we signed up with them in 2011."</p>
							</div>	
						</div> <!-- row-fluid -->
					</div> <!-- customer-block -->
					<div class="customer-block span4 c-box-shadow">
						<div class="row-fluid">
							<div class="span4">
							<%= image_tag("customer_5a.jpg", :class => 'img-polaroid customer-img', :style => 'margin-top:30px;max-width:120px;transform:rotate(-5deg);-ms-transform:rotate(-5deg);-webkit-transform:rotate(-5deg);') %>
							</div> <!-- span4 -->
							<div class="offset1 span7 c-black" style="padding-top:10%;">
								<h3 class="c-dark-blue">Brandon Salzer - Salzers</h3>
								<h5 class="c-black">Ventura, Ca</h5>
								<p class="c-black c-normal">"Our business was falling behind.  We were on the max speeds that AT&T could deliver via DSL and the only options they had for us to go faster literally cost over $1500/month.  Our I.T. company recommended California Internet and they now have us hooked up with an upload speed over 6x faster than we had before. Our service has been rock solid reliable and we are one happy customer."</p>
							</div>	
						</div> <!-- row-fluid -->
					</div>
				</div> <!-- row-fluid -->
				<div class="row-fluid">
					<div class="customer-block offset2 span4 c-box-shadow">
						<div class="row-fluid">
							<div class="span4">
							<%= image_tag("customer_6c.jpg", :class => 'img-polaroid customer-img', :style => 'margin-top:30px;max-width:120px;height:auto;transform:rotate(-5deg);-ms-transform:rotate(-5deg);-webkit-transform:rotate(-5deg)') %>
							</div> <!-- span4 -->
							<div class="offset1 span7 c-black" style="padding-top:10%;">
								<h3 class="c-dark-blue">Ken May - Swift Chip Inc.</h3>
								<h5 class="c-black">Beverly Hills, Ca</h5>
								<p class="c-black c-normal">"After running into California internet a few years ago while having a mutual customer we found not only are their prices, speeds and coverage area better than any other provider, their customer customer and wiliness to think outside the box to find solutions for our clients has been unbelievable.  Having a partner like CA Internet is truly a huge asset to us as an I.T. Firm."</p>
							</div>	
						</div> <!-- row-fluid -->
					</div> <!-- customer-block -->
					<div class="customer-block span4 c-box-shadow">
						<div class="row-fluid">
							<div class="span4">
							<%= image_tag("customer_7a.jpg", :class => 'img-polaroid customer-img', :style => 'margin-top:30px;max-width:120px;transform:rotate(-5deg);-ms-transform:rotate(-5deg);-webkit-transform:rotate(-5deg);') %>
							</div> <!-- span4 -->
							<div class="offset1 span7 c-black" style="padding-top:10%;">
								<h3 class="c-dark-blue">Emily Thacher - Ayala</h3>
								<h5 class="c-black">Ojai, Ca</h5>
								<p class="c-black c-normal">"We run our Ojai ranch and all our Ojai Pixie tangerine sales by using California Internet solutions.  Our business is located in a fairly remote canyon where California Internet Solutions has provided very reliable service (even during wind & rain events); the internet works even when the fax and phones are down. So we have now switched to their digital phone and fax service that run over the internet and now even storms don’t take us down!  Friend’s Ranches, Inc and Ojai Pixie Packers."</p>
							</div>	
						</div> <!-- row-fluid -->
					</div>
				</div> <!-- row-fluid -->
			</div> <!-- span12-->
		</div> <!-- row-fluid -->
	</div>	<!-- site-container -->
</div>

<!-- Modals Below -->