<div id="body-container" class="row-fluid">
	<div id="site-container" class="span12">
		<div class="row-fluid">
			<div class="span12" style="margin-top:120px;">
				<h3 class="c-centered" style="color:#555555;margin:10px 0px 0px 0px;">Our Customers</h3>
				<hr style="border:1px dashed #438cdb;opacity:0.2;margin:5px auto 10px auto;max-width:600px;">
			</div>
		</div> <!-- #hero -->
			
		<div class="row-fluid">
			<div id="customers-container" class="span12">
				<div class="row-fluid">
					<div class="customer-block offset2 span4 c-box-shadow">
						<div class="row-fluid">
							<div class="span4">
							<%= image_tag("customer_a2.jpg", :class => 'img-polaroid customer-img', :style => 'margin-top:30px;max-width:100px;height:auto;transform:rotate(-7deg);-ms-transform:rotate(-7deg);-webkit-transform:rotate(-7deg)') %>
							</div> <!-- span4 -->
							<div class="offset1 span7 c-black" style="padding-top:10%;">
								<h3 class="c-black">Agriculture</h3>
								<p class="c-black c-normal">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec quam odio, volutpat at ornare nec, dignissim quis est. Integer tincidunt, dui at pretium gravida, enim eros interdum risus, quis ornare leo lectus non ante. Aenean molestie sem ut mi euismod suscipit.</p>
							</div>	
						</div> <!-- row-fluid -->
					</div> <!-- customer-block -->
					<div class="customer-block span4 c-box-shadow">
						<div class="row-fluid">
							<div class="span4">
							<%= image_tag("customer_b1.jpg", :class => 'img-polaroid customer-img', :style => 'margin-top:35px;max-width:120px;transform:rotate(-5deg);-ms-transform:rotate(-5deg);-webkit-transform:rotate(-5deg);') %>
							</div> <!-- span4 -->
							<div class="offset1 span7 c-black" style="padding-top:10%;">
								<h3 class="c-black">Boat Rentals</h3>
								<p class="c-black c-normal">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec quam odio, volutpat at ornare nec, dignissim quis est. Integer tincidunt, dui at pretium gravida, enim eros interdum risus, quis ornare leo lectus non ante. Aenean molestie sem ut mi euismod suscipit.</p>
							</div>	
						</div> <!-- row-fluid -->
					</div>
				</div> <!-- row-fluid -->
				<div class="row-fluid">
					<div class="customer-block offset2 span4 c-box-shadow">
						<div class="row-fluid">
							<div class="span4">
							<%= image_tag("customer_c1.jpg", :class => 'img-polaroid customer-img', :style => 'margin-top:30px;max-width:130px;height:auto;transform:rotate(-5deg);-ms-transform:rotate(-5deg);-webkit-transform:rotate(-5deg)') %>
							</div> <!-- span4 -->
							<div class="offset1 span7 c-black" style="padding-top:10%;">
								<h3 class="c-black">Arco</h3>
								<p class="c-black c-normal">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec quam odio, volutpat at ornare nec, dignissim quis est. Integer tincidunt, dui at pretium gravida, enim eros interdum risus, quis ornare leo lectus non ante. Aenean molestie sem ut mi euismod suscipit.</p>
							</div>	
						</div> <!-- row-fluid -->
					</div> <!-- customer-block -->
					<div class="customer-block span4 c-box-shadow">
						<div class="row-fluid">
							<div class="span4">
							<%= image_tag("customer_5a.jpg", :class => 'img-polaroid customer-img', :style => 'margin-top:30px;max-width:120px;transform:rotate(-5deg);-ms-transform:rotate(-5deg);-webkit-transform:rotate(-5deg);') %>
							</div> <!-- span4 -->
							<div class="offset1 span7 c-black" style="padding-top:10%;">
								<h3 class="c-black">Salzers</h3>
								<p class="c-black c-normal">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec quam odio, volutpat at ornare nec, dignissim quis est. Integer tincidunt, dui at pretium gravida, enim eros interdum risus, quis ornare leo lectus non ante. Aenean molestie sem ut mi euismod suscipit.</p>
							</div>	
						</div> <!-- row-fluid -->
					</div>
				</div> <!-- row-fluid -->
				<div class="row-fluid">
					<div class="customer-block offset2 span4 c-box-shadow">
						<div class="row-fluid">
							<div class="span4">
							<%= image_tag("customer_6c.jpg", :class => 'img-polaroid customer-img', :style => 'margin-top:30px;max-width:120px;height:auto;transform:rotate(-5deg);-ms-transform:rotate(-5deg);-webkit-transform:rotate(-5deg)') %>
							</div> <!-- span4 -->
							<div class="offset1 span7 c-black" style="padding-top:10%;">
								<h3 class="c-black">Company</h3>
								<p class="c-black c-normal">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec quam odio, volutpat at ornare nec, dignissim quis est. Integer tincidunt, dui at pretium gravida, enim eros interdum risus, quis ornare leo lectus non ante. Aenean molestie sem ut mi euismod suscipit.</p>
							</div>	
						</div> <!-- row-fluid -->
					</div> <!-- customer-block -->
					<div class="customer-block span4 c-box-shadow">
						<div class="row-fluid">
							<div class="span4">
							<%= image_tag("customer_7a.jpg", :class => 'img-polaroid customer-img', :style => 'margin-top:30px;max-width:120px;transform:rotate(-5deg);-ms-transform:rotate(-5deg);-webkit-transform:rotate(-5deg);') %>
							</div> <!-- span4 -->
							<div class="offset1 span7 c-black" style="padding-top:10%;">
								<h3 class="c-black">Agriculture</h3>
								<p class="c-black c-normal">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec quam odio, volutpat at ornare nec, dignissim quis est. Integer tincidunt, dui at pretium gravida, enim eros interdum risus, quis ornare leo lectus non ante. Aenean molestie sem ut mi euismod suscipit.</p>
							</div>	
						</div> <!-- row-fluid -->
					</div>
				</div> <!-- row-fluid -->
			</div> <!-- span12-->
		</div> <!-- row-fluid -->
	</div>	<!-- site-container -->
</div>

<!-- Modals Below -->