<div id="body-container" class="row-fluid">
	<div id="site-container" class="span12">
		<div class="row-fluid">
			<div id="customers-header" class="span12" style="margin-top:13id="customers-header" 0px;">
				<h2 class="header-text c-centered c-text-shadow">Our Customers</h2>
			</div> <!-- row-fluid -->
		</div> <!-- #hero -->
			
		<div class="row-fluid">
			<div id="customers-container" class="span12">
				<div class="row-fluid">
					<div class="customer-block offset2 span4">
						<div class="row-fluid">
							<div class="span4">
							<%= image_tag("customer_a2.jpg", :class => 'img-polaroid customer-img', :style => 'margin-top:30px;max-width:120px;height:auto;transform:rotate(-7deg);-ms-transform:rotate(-7deg);-webkit-transform:rotate(-7deg)') %>
							</div> <!-- span4 -->
							<div class="offset1 span7 c-white" style="padding-top:10%;">
								<h3>Farming Company</h3>
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec quam odio, volutpat at ornare nec, dignissim quis est. Integer tincidunt, dui at pretium gravida, enim eros interdum risus, quis ornare leo lectus non ante. Aenean molestie sem ut mi euismod suscipit.</p>
							</div>	
						</div> <!-- row-fluid -->
					</div> <!-- customer-block -->
					<div class="customer-block span4">
						<div class="row-fluid">
							<div class="span4">
							<%= image_tag("customer_b1.jpg", :class => 'img-polaroid customer-img', :style => 'margin-top:35px;max-width:140px;transform:rotate(-5deg);-ms-transform:rotate(-5deg);-webkit-transform:rotate(-5deg);') %>
							</div> <!-- span4 -->
							<div class="offset1 span7 c-white" style="padding-top:10%;">
								<h3>Boat Rentals</h3>
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec quam odio, volutpat at ornare nec, dignissim quis est. Integer tincidunt, dui at pretium gravida, enim eros interdum risus, quis ornare leo lectus non ante. Aenean molestie sem ut mi euismod suscipit.</p>
							</div>	
						</div> <!-- row-fluid -->
					</div>
				</div> <!-- row-fluid -->
				<div class="row-fluid">
					<div class="customer-block offset2 span4">
						<div class="row-fluid">
							<div class="span4">
							<%= image_tag("customer_c1.jpg", :class => 'img-polaroid customer-img', :style => 'margin-top:30px;max-width:160px;height:auto;transform:rotate(-5deg);-ms-transform:rotate(-5deg);-webkit-transform:rotate(-5deg)') %>
							</div> <!-- span4 -->
							<div class="offset1 span7 c-white" style="padding-top:10%;">
								<h3>Arco</h3>
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec quam odio, volutpat at ornare nec, dignissim quis est. Integer tincidunt, dui at pretium gravida, enim eros interdum risus, quis ornare leo lectus non ante. Aenean molestie sem ut mi euismod suscipit.</p>
							</div>	
						</div> <!-- row-fluid -->
					</div> <!-- customer-block -->
					<div class="customer-block span4">
						<div class="row-fluid">
							<div class="span4">
							<%= image_tag("customer_5a.jpg", :class => 'img-polaroid customer-img', :style => 'margin-top:30px;max-width:140px;transform:rotate(-5deg);-ms-transform:rotate(-5deg);-webkit-transform:rotate(-5deg);') %>
							</div> <!-- span4 -->
							<div class="offset1 span7 c-white" style="padding-top:10%;">
								<h3>Salzers</h3>
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec quam odio, volutpat at ornare nec, dignissim quis est. Integer tincidunt, dui at pretium gravida, enim eros interdum risus, quis ornare leo lectus non ante. Aenean molestie sem ut mi euismod suscipit.</p>
							</div>	
						</div> <!-- row-fluid -->
					</div>
				</div> <!-- row-fluid -->
				<div class="row-fluid">
					<div class="customer-block offset2 span4">
						<div class="row-fluid">
							<div class="span4">
							<%= image_tag("customer_6c.jpg", :class => 'img-polaroid customer-img', :style => 'margin-top:30px;max-width:160px;height:auto;transform:rotate(-5deg);-ms-transform:rotate(-5deg);-webkit-transform:rotate(-5deg)') %>
							</div> <!-- span4 -->
							<div class="offset1 span7 c-white" style="padding-top:10%;">
								<h3>Company</h3>
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec quam odio, volutpat at ornare nec, dignissim quis est. Integer tincidunt, dui at pretium gravida, enim eros interdum risus, quis ornare leo lectus non ante. Aenean molestie sem ut mi euismod suscipit.</p>
							</div>	
						</div> <!-- row-fluid -->
					</div> <!-- customer-block -->
					<div class="customer-block span4">
						<div class="row-fluid">
							<div class="span4">
							<%= image_tag("customer_7a.jpg", :class => 'img-polaroid customer-img', :style => 'margin-top:30px;max-width:140px;transform:rotate(-5deg);-ms-transform:rotate(-5deg);-webkit-transform:rotate(-5deg);') %>
							</div> <!-- span4 -->
							<div class="offset1 span7 c-white" style="padding-top:10%;">
								<h3>Farmers</h3>
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec quam odio, volutpat at ornare nec, dignissim quis est. Integer tincidunt, dui at pretium gravida, enim eros interdum risus, quis ornare leo lectus non ante. Aenean molestie sem ut mi euismod suscipit.</p>
							</div>	
						</div> <!-- row-fluid -->
					</div>
				</div> <!-- row-fluid -->
			</div> <!-- span12-->
		</div> <!-- row-fluid -->
	</div>	<!-- site-container -->
</div>

<!-- Modals Below -->