<div id="body-container" class="row-fluid">
	<div id="site-container" class="span12">
		<div class="row-fluid hidden-phone">
			<div id="hero" class="span12">
				<div id="hero-content-container" class="row-fluid">
				</div>
			</div> <!-- row-fluid -->
		</div> <!-- #hero -->
		<div class="row-fluid">
			<div id="quotes-container" class="span12">
				<div id="quotes-slider">

					<!-- First Quote -->
					<div class="row-fluid">
						<div class="quote-slide offset4 span4">
							<table id="quote" >
								<tr>
									<td style="margin:0px;">
										<h4 id="home-quote-west" class="home-quote-main" style="font-size:26px;margin-top:10px;">These guys are tight.</h4>
										<h6 class="home-quote-source" style="text-align:right;margin-right:5px;">Kanye West</h6>
									</td><td>
										<%= image_tag("quote_west.png", :id => "circle-quote-home", :draggable => false, :style => 'margin:5px 0px 0px 10px;',) %>
									</td>
								</tr>
							</table>
						</div>
					</div> <!-- .row-fluid -->

					<!-- Second Quote -->
					<div class="row-fluid">
						<div class="quote-slide offset4 span4">
							<table id="quote" >
								<tr>
									<td style="margin:0px;">
										<%= image_tag("quote_sheen.png", :id => "circle-quote-home", :style => 'margin:5px 10px 0px 0px;', :draggable => false) %>
									</td><td>
										<h4 id="home-quote-sheen" class="home-quote-main" style="font-size:19px;margin-top:10px">These dudes know how to party.</h4>
										<h6 class="home-quote-source" style="text-align:left;margin-left:2px;">Charlie Sheen</h6>
									</td>
								</tr>
							</table>
						</div> <!-- .quote-slide -->
					</div> <!-- .row-fluid -->

				</div> <!-- #quotes-slider -->

			</div> <!-- span12-->
		</div> <!-- row-fluid -->
		<div class="row-fluid">
			<div id="info-box-container" class="span12">
				<div class="row-fluid">
					<div id="info-box-inner" class="offset2 span8">
						<div class="row-fluid">
							<div class="span12 info-box">
								<h4 class="c-centered" style="color:#444444;margin:10px 0px 0px 0px;">Why You'll Love California Internet</h4>
								<hr style="margin-top:10px!important">
								<div id="info-box-one" class="row-fluid" style="margin-top:20px;">
									<div class="info-text offset1 span7">
								    	<h2 class="c-font c-bold c-dark-blue" style="margin-bottom:0px!important;margin-top:10px;">More Products, More Options</h2>
								    	<h5 class="c-font c-black" style="margin-top:3px!important;margin-bottom:10px;">We have more Products than any other internet service provider so that we can match any Client's need.</h5>
								    	<p class="c-dark-blue"><a href="/business">View Business Products</a> &nbsp;&nbsp;| &nbsp;&nbsp;<a href="/residential">View Residential Products</a></p>
								    </div>
								    <div class="info-image span4 hidden-phone">
									    	<div class="img-bg img-circle">
									    		<center>
									    			<%= image_tag("home_products.png", :class => 'home-icon', :draggable => false, :style => 'margin-top:45px;max-width:70px;text-align:center;') %>
									    		</center>
									    	</div>
								    </div>
								</div><!-- row-fluid -->
								<hr>
								<div id="info-box-two" class="row-fluid">
									<div class="info-image offset1 span3 hidden-phone">
									    	<div class="img-bg img-circle">
									    		<center>
									    			<%= image_tag("home_lowprice.png", :class => 'home-icon', :draggable => false, :style => 'margin-top:55px;max-width:70px;text-align:center;') %>
									    		</center>
									    	</div>
								    </div>
								    <div class="info-text span7">
								    	<h2 class="c-font c-bold c-dark-blue" style="margin-bottom:0px!important;">Lowest Prices, Guaranteed</h2>
								    	<h5 class="c-font c-black" style="margin-top:3px!important;margin-bottom:10px;">We'll beat the prices of any other internet service provider in California</h5>
								    	<p class="c-dark-blue"><a href="/getservice">Review Prices In Your Area</a></p>
								    </div>
								</div><!-- row-fluid -->
								<hr>
								<div id="info-box-one" class="row-fluid" style="margin-top:20px;">
									<div class="info-text offset1 span7">
								    	<h2 class="c-font c-bold c-dark-blue" style="margin-bottom:0px!important;margin-top:10px;">Incredible 24x7 Support</h2>
								    	<h5 class="c-font c-black" style="margin-top:3px!important;margin-bottom:10px;">We're always there when you need us.</h5>
								    	<p class="c-dark-blue">Go Ahead, Ask Us A Question</p>
								    </div>
								    <div class="info-image span4 hidden-phone">
									    	<div class="img-bg img-circle">
									    		<center>
									    			<%= image_tag("home_support.png", :class => 'home-icon', :draggable => false, :style => 'margin-top:60px;max-width:100px;text-align:center;') %>
									    		</center>
									    	</div>
								    </div>
								</div><!-- row-fluid -->
								<hr>
								<div id="info-box-two" class="row-fluid">
									<div class="info-image offset1 span3 hidden-phone">
									    	<div class="img-bg img-circle">
									    		<center>
									    			<%= image_tag("home_california.png", :class => 'home-icon', :draggable => false, :style => 'margin-top:55px;max-width:70px;text-align:center;') %>
									    		</center>
									    	</div>
								    </div>
								    <div class="info-text span7">
								    	<h2 class="c-font c-bold c-dark-blue" style="margin-bottom:0px!important;">Largest Coverage Area in California</h2>
								    	<h5 class="c-font c-black" style="margin-top:3px!important;margin-bottom:10px;">From Rural to Urban areas, we have got you covered.</h5>
								    	<p class="c-dark-blue">Check For Our Services In Your Area</p>
								    </div>
								</div><!-- row-fluid -->
							</div> <!-- #info-box-one span12-->
					</div> <!-- span12-->
				</div> <!-- row-fluid -->
			</div> <!-- span12-->
		</div> <!-- row-fluid -->
	</div>	<!-- site-container -->
</div>

<!-- Modals Below -->
<div id="supportModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"></div>