<%= form_for([:management, @service], :class => "form") do |f| %>
  <% if @service.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@service.errors.count, "error") %> prohibited this service from being saved:</h2>

      <ul>
      <% @service.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.text_field :service, :placeholder => "Service Title", :style => 'text-align:center;', :maxlength => 200 %><br/>
  <%= f.select :service_type, [['Business', 'Business'], ['Residential', 'Residential'], ['Business and Residential', 'Business and Residential']] %><br/>
  <%= f.text_area :details, :placeholder => "Service Details", :style => 'height:200px;', :maxlength => 230 %><br/>

  <p style="font-size:11px;text-align:center;color:#555555;margin-top:0px;padding-top:0px;">Service Details - 230 Characters Max</p>

  <div class="actions">
    <center><%= f.submit(:class => 'btn c-btn c-centered') %></center>
  </div>
<% end %>
