<div class="row-fluid">
  <div id="services-container" class="offset2 span8">

        <h3 class="c-centered">Available Services</h3>
        <hr style="margin: 8px auto;">
        <table class="table table-condensed c-centered">
          <tr>
            <th></th>
          </tr>

        <% @services.each do |service| %>
          <tr>
            <td colspan="3" class="c-white c-centered">
              <%= link_to [:management, service] do %>
                <h4 class="c-centered" style="margin-bottom:0px;"><%= service.service %></h4>
              <% end %>
            </td>
          </tr>
          <tr>
            <td class="c-centered" style="text-align:center!important;font-size:11px;padding:0px;"><%= link_to 'Show', [:management, service] %> &nbsp; <%= link_to 'Edit', [:edit, :management, service] %> &nbsp; <%= link_to 'Delete', [:management, service], method: :delete, data: { confirm: "Are you sure?  You will delete all of this Service's data for every City in California..."} %></td>
          </tr>
        <% end %>
        </table>

        <br />

        <center><%= link_to 'Add New Service', new_management_service_path, :class => 'btn c-btn c-centered' %></center>

  </div>
</div>