<!DOCTYPE html>
<html>
<head>
  <title>California Internet</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= google_webfonts_link_tag "Lato" => [100, 400, 700] %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="container-fluid">
    <div class="row-fluid">
      <div class="span12">
        <div class="navbar navbar-fixed-top">
          <div class="navbar-inner">
              <div id="top-nav-container" class="container row-fluid hidden-phone">
                <div id="top-nav" class="container offset2 span8">

                  <ul class="nav pull-right">
                  <li><a href="http://cainternet.tumblr.com/">Blog</a></li>
                  <li><%= link_to "Our Customers", { :controller => "main", :action => "customers" }, :class => '', :style => '' %></li>
                  <li><%= link_to "Partner Program", { :controller => "main", :action => "partner_program" }, :class => '', :style => '' %></li>
                  <li><%= link_to "About Us", { :controller => "main", :action => "about" }, :class => '', :style => '' %></li>
                  <li><a href="#">Contact</a></li>
                  <li><a href="#" class="c-white">Log In</a></li>
                </ul>
                
                </div>
              </div>
              <div id="bottom-nav-container" class="container row-fluid">
                <div class="offset2 span8">

                    <!-- .btn-navbar is used as the toggle for collapsed navbar content -->
                    <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                    </a>
               
                    <!-- Be sure to leave the brand out there if you want it shown -->
                    <%= link_to root_url, :class => "brand" do %>
                      <%= image_tag("logo.png", :alt => 'California Internet', :id => 'logo', :draggable => false ) %>
                    <% end %>
               
                    <!-- Everything you want hidden at 940px or less, place within here -->
                    <div class="nav-collapse collapse">
                      <!-- .nav, .navbar-search, .navbar-form, etc -->
                      <ul class="nav pull-right">
                    <li><a id="business-link" href="/business">Business</a></li>
                    <li><a id="residential-link" href="/residential">Residential</a></li>
                    <li><a id="support-link" class="pulse" href="#">Support</a></li>
                  </ul>
                    </div>

              </div> <!-- offset2 span8 -->
              </div> <!-- row-fluid -->
          </div>
        </div>
        <%= yield %>
      </div>
    </div>
	<footer>
	</footer>
</div> <!--! end of .container -->

<!-- Modals Below -->
<div id="supportModal" class="modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"></div>

</body>
</html>
