<!DOCTYPE html>
<html>
<head>
  <title>California Internet - Get Service Now</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= google_webfonts_link_tag "Lato" => [100, 400, 700] %>
  <%= csrf_meta_tags %>
</head>
<body style="background-color:#3a73b4;">

<div class="container-fluid">
    <div class="row-fluid">
      <div class="span12">
      		<%= yield %>
      </div> <!-- .span12-->
    </div> <!-- .row-fluid -->
</div> <!-- .container-fluid -->